<div class="container" ng-controller="cartController" ng-init="getCart()">
	<div class="row title">
		<h1>Shopping Cart</h1>
	</div>
	<h2>Titles</h2>
			<div class="row list-item">
				<div class="col-sm-6">
					<table>
						<thead>
							<tr>
								<th><h3>Name:</h3></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="name in cartItemsArray track by $index">
								<td><h4 class="cartTitle">{{name}} -- $3.99/month</h4></td>
								<td><input type="radio" ng-model="my.favorite" ng-value="name" id="{{name}}" name="favorite"></td>
								
							</tr>
							<tr>
								<td><button class="btn btn-danger removeFromCart" ng-click="removeFromCart('{{my.favorite}}')">Delete From Cart</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
</div>