/* line 1, ../compass/sass/styles.scss */
body {
  background-color: black;
  color: white;
  margin-top: 85px;
}

/* line 7, ../compass/sass/styles.scss */
.navbar-brand {
  height: auto;
}

/* line 10, ../compass/sass/styles.scss */
.navbar {
  background-color: black;
  border: none;
}

/* line 15, ../compass/sass/styles.scss */
.dropdown {
  margin-right: 40px;
  font-size: 24px;
  margin-top: 20px;
}

/* line 21, ../compass/sass/styles.scss */
.regular {
  text-align: center;
}

/* line 25, ../compass/sass/styles.scss */
.regular img {
  margin: 10px;
}

/* line 29, ../compass/sass/styles.scss */
.item {
  display: inline-block;
}

/* line 32, ../compass/sass/styles.scss */
.cart {
  display: block;
}

/* line 35, ../compass/sass/styles.scss */
.main {
  background-color: white;
  margin: auto;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  color: black;
}

/* line 45, ../compass/sass/styles.scss */
.footer {
  color: white;
  height: 50px;
  text-align: center;
  padding: 10px;
}

/* line 51, ../compass/sass/styles.scss */
.carousel {
  margin-top: 50px;
  text-align: center;
}

/* line 56, ../compass/sass/styles.scss */
.comic {
  margin: auto;
}

/* line 60, ../compass/sass/styles.scss */
.wrong-pass {
  color: red;
}

/* line 64, ../compass/sass/styles.scss */
.button-holder {
  margin-top: 25px;
}

/* line 68, ../compass/sass/styles.scss */
.formEnter {
  margin-top: 30px;
}

/* line 72, ../compass/sass/styles.scss */
#address-form {
  width: 40%;
  margin: auto;
}

/* line 77, ../compass/sass/styles.scss */
.title {
  margin-bottom: 20px;
}

/* line 80, ../compass/sass/styles.scss */
.submit-order {
  text-align: center;
  margin: 20px;
}
