<div class="container carousel">
	<div class="autoplay">
  		<div><img src="images/blackscience.jpg" alt="" class="comic"></div>
  		<div><img src="images/cassanova.jpg" alt="" class="comic"></div>
  		<div><img src="images/chew.jpg" alt="" class="comic"></div>
  		<div><img src="images/descender.jpg" alt="" class="comic"></div>
  		<div><img src="images/eastofwest.jpg" alt="" class="comic"></div>
  		<div><img src="images/fairyland.jpg" alt="" class="comic"></div>
  		<div><img src="images/fuse.jpg" alt="" class="comic"></div>
  		<div><img src="images/low.jpg" alt="" class="comic"></div>
  		<div><img src="images/monstress.jpg" alt="" class="comic"></div>
  		<div><img src="images/nowhere.jpg" alt="" class="comic"></div>
  		<div><img src="images/outcast.jpg" alt="" class="comic"></div>
  		<div><img src="images/papergirls.jpg" alt="" class="comic"></div>
  		<div><img src="images/revival.jpg" alt="" class="comic"></div>
  		<div><img src="images/saga.jpg" alt="" class="comic"></div>
  		<div><img src="images/snotgirl.jpg" alt="" class="comic"></div>
	</div>
</div>

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="slick/slick.min.js"></script>
				
	<script type="text/javascript">
    $(document).ready(function(){
      $('.autoplay').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
});
    });
  	</script>