<div class="container main">
		<h1>Subscriptions</h1>
		<form ng-submit="subscriptions()" id="subscription-form">
			<div class="row regular">
				<div class="item">
					<img src="images/blackscience.jpg" alt="">
					<button class="btn btn-default cart" ng-click="blackScience">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/cassanova.jpg" alt="">
					<button class="btn btn-default cart" ng-click="cassanova">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/chew.jpg" alt="">
					<button class="btn btn-default cart" ng-click="chew">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/descender.jpg" alt="">
					<button class="btn btn-default cart" ng-click="descender">Add to cart</button>
				</div>
			</div>
			<div class="row regular">
				<div class="item">
					<img src="images/eastofwest.jpg" alt="">
					<button class="btn btn-default cart" ng-click="eastOfWest">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/fairyland.jpg" alt="">
					<button class="btn btn-default cart" ng-click="fairyland">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/fuse.jpg" alt="">
					<button class="btn btn-default cart" ng-click="fuse">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/invincible.jpg" alt="">
					<button class="btn btn-default cart" ng-click="invincible">Add to cart</button>
				</div>
			</div>
			<div class="row regular">
				<div class="item">
					<img src="images/low.jpg" alt="">
					<button class="btn btn-default cart" ng-click="low">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/monstress.jpg" alt="">
					<button class="btn btn-default cart" ng-click="monstress">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/nowhere.jpg" alt="">
					<button class="btn btn-default cart" ng-click="nowhereMen">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/outcast.jpg" alt="">
					<button class="btn btn-default cart" ng-click="outcast">Add to cart</button>
				</div>
			</div>
			<div class="row regular">
				<div class="item">
					<img src="images/papergirls.jpg" alt="">
					<button class="btn btn-default cart" ng-click="paperGirls">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/revival.jpg" alt="">
					<button class="btn btn-default cart" ng-click="revival">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/saga.jpg" alt="">
					<button class="btn btn-default cart" ng-click="saga">Add to cart</button>
				</div>
				<div class="item">
					<img src="images/snotgirl.jpg" alt="">
					<button class="btn btn-default cart" ng-click="snotGirl">Add to cart</button>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-submit cart" type="submit">Submit Order</button>
			</div>
		</form>
	</div>