<div class="container main">
		<h1>Subscriptions</h1>
		<form ng-submit="subscriptions()" id="subscription-form">
		<div class="row regular">
			<div class="item">
				<img src="images/blackscience.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="blackScience">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/cassanova.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="cassanova">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/chew.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="chew">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/descender.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="descender">Add to cart</button>
			</div>
		</div>
		<div class="row regular">
			<div class="item">
				<img src="images/eastofwest.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="eastOfWest">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/fairyland.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="fairyland">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/fuse.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="fuse">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/invincible.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="invincible">Add to cart</button>
			</div>
		</div>
		<div class="row regular">
			<div class="item">
				<img src="images/low.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="low">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/monstress.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="monstress">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/nowhere.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="nowhereMen">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/outcast.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="outcast">Add to cart</button>
			</div>
		</div>
		<div class="row regular">
			<div class="item">
				<img src="images/papergirls.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="paperGirls">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/revival.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="revival">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/saga.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="saga">Add to cart</button>
			</div>
			<div class="item">
				<img src="images/snotgirl.jpg" alt="">
				<button class="btn btn-default cart" type="submit" ng-model="snotGirl">Add to cart</button>
			</div>
		</div>
		</form>
	</div>